.evaluation_title{
    text-align: center !important;
    font-size: 2rem !important;

    font-weight: bolder;
}

.ideation{
    margin-top: 10px;
}

.total_marks{
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
}